./Example/node_modules/
.vscode
node_modules/
tests
./Example/tests
# OSX
#
.DS_Store
./Example/.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
./Example/npm-debug.log
./Example/yarn-error.log  

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
./Example/DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
./Example/build/
./Example/*.pbxuser
./Example/!default.pbxuser
./Example/*.mode1v3
./Example/!default.mode1v3
./Example/*.mode2v3
./Example/!default.mode2v3
./Example/*.perspectivev3
./Example/!default.perspectivev3
./Example/xcuserdata
./Example/*.xccheckout
./Example/*.moved-aside
./Example/DerivedData
./Example/*.hmap
./Example/*.ipa
./Example/*.xcuserstate
./Example/project.xcworkspace      

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
./Example/build/
./Example/.idea
./Example/.gradle
./Example/local.properties
./Example/*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

./Example/ios/Pods/


      